doctype html
html
  head
    meta(charset='utf-8')
    title GCI | Node.js Web App
  body
    h1 Node.js Web App > Login
    h2 Google Code-in - FOSSASIA
    br
    if errorMessage.length
      span(style="color: red") #{errorMessage}
      br
      br
    h3 Login
    form(action='/login', method='post')
      label(for='username') Username:
      input#username(type='text', name='username', placeholder='john')
      br
      br
      label(for='password') Password:
      input#password(type='password', name='password')
      br
      br
      input(type='submit', value='Log in!')
    br
    a(href='/register') Register as a new user
    footer
      hr
      br
      b Google Code-in 2015
      |  | Made by Yago González with <3, for the Open Source community
