doctype html
html
  head
    meta(charset='utf-8')
    title GCI | Node.js Web App
  body
    h1 Node.js Web App > Profile
    h2 Google Code-in - FOSSASIA
    br
    h3 #{user.user}'s profile
    b Full name:
    |  #{user.realName}
    br
    b Email address:
    |  #{user.email}
    br
    br
    a(href='/logout') Logout
    footer
      hr
      br
      b Google Code-in 2015
      |  | Made by Yago González with <3, for the Open Source community
