doctype html
html
  head
    meta(charset='utf-8')
    title GCI | Node.js Web App
    body
      h1 Node.js Web App > Register
      h2 Google Code-in - FOSSASIA
      br
      if errorMessage.length
        span(style="color: red") #{errorMessage}
        br
        br
      form(action="/register", method="post")
        div
          label Full name: 
          input(type="text", name="realName")
        br
        div
          label Email: 
          input(type="email", name="email")
        br
        div
          label Username: 
          input(type="text", name="username")
        br
        div
          label Password: 
          input(type="password", name="password")
        br
        div
          input(type="submit", value="Log in")
      footer
        hr
        br
        b Google Code-in 2015
        |  | Made by Yago González with <3, for the Open Source community
